@using LEGASY.Models
@model  Seguridad_Fn_ModuloSeleccionado_Result


@{
    ViewBag.Title = "EditarModulo";

}

<br />
<!-- Content Header (Page header) -->
<div class="card-header" style="background-color:white;">
    <div class="col-sm-6">
        <h1>Editar Modulo</h1>
    </div>


</div>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <div class="col-sm-10">
                        <h3 class="card-title">Datos del <strong>@Model.entryName</strong></h3>
                    </div>
                    <br />
                    <hr />
                    <div class="card-body pad table-responsive">

                        @*Todo el Contenido Aqui*@
                        <!-- Horizontal Form -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Formulario</h3>
                            </div>

                            @if (ViewBag.Respuesta != null)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-warning">
                                            @ViewBag.Respuesta

                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- /.card-header -->
                            <!-- form start -->
                            @using (Html.BeginForm())
                            {
                                @Html.HiddenFor(model => model.entryCode)
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="Name" class="col-sm-2 col-form-label">Nombre</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre" value="@Model.entryName">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="NombreCorto" class="col-sm-2 col-form-label">Nombre Corto</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="NombreCorto" name="NombreCorto" placeholder="Nombre Corto" value="@Model.entryShortName">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="Descrípcion" class="col-sm-2 col-form-label">Descripcion</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion" value="@Model.entryDescription">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="Estado" class="col-sm-2 col-form-label">Estado</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" id="Estado" name="Estado">
                                                        <option selected disabled="disabled">Seleccione</option>
                                                        <option value="1">Activo</option>
                                                        <option value="0">Inactivo</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-info">Editar</button>
                                    <button type="submit" class="btn btn-default float-right">Cancelar</button>
                                </div>

                                <!-- /.card-footer -->
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

