@using LEGASY.Models
@model List<LEGASY.Models.Personaliza_Fn_CuentasdeBanco_Result>
@{
    ViewBag.Title = "ListaCuentasBanco";
}

<br />
<!-- Content Header (Page header) -->
<div class="card-header" style="background-color:white;">
    <div class="col-sm-6">
        <h1>Cuentas de Banco</h1>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">
                    <div class="row mb-2">
                        <div class="col-sm-11">
                            <h3 class="card-title">Listado de Cuentas de Banco</h3>
                        </div>
                        <div class="col-sm-1">

                            @Html.ActionLink("Registrar nuevo", "Index", null, new { @class = "btn btn-outline-primary btn-block btn-xs" })

                        </div>
                    </div>
                </div>
                <div class="card-body pad table-responsive">

                    <table id="ListaCuentas" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>TipoCuenta</th>
                                <th>Moneda</th>
                                <th>TipoBanco</th>
                                <th>Estado</th>
                                <th>Banco</th>
                                <th>NombreCuenta</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.TipoCuenta</td>
                                    <td>@item.entryName</td>
                                    <td>@item.entryCodeBankType</td>
                                    <td>@item.entryCodeStatus</td>
                                    <td>@item.entryBankName</td>
                                    <td>@item.entryAcctName</td>
                                  
                                    <td>
                                        <a class="btn btn-success btn-block" href="@Url.Action("EditarSucursal", "Personaliza", new {IdCuenta = item.Id})">
                                            <i class="fas fa-edit"></i> Editar
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>

                    @*Todo el Contenido Aqui*@

                </div>


            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $(function () {

            $("#ListaCuentas").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)')



        });

    </script>

}


